<main class="full-width-embed">
    <div style="height:50vh"></div>
     <section id="intro">
      <h2>Born of fire and ice</h2>
      <p>Washington as we know it was formed by a violent past, including lava floods and ice age floods. The Columbia River was an energetic, mile-wide, 500-feet-deep fury of white water rapids that carried boulders and cobbles all the way from northeastern Washington to the Pacific Ocean.</p>
      
     </section>

     <section id="scrolly">
       <div class="sticky-thing">
         
         <img decoding="async" class="asset" src="./assets/CR-geology-01.jpg">

         <img decoding="async" class="asset" src="./assets/CR-geology-02.jpg">
         
         <img decoding="async" class="featured" src="./assets/CR-geology-03.jpg">
         
         <img decoding="async" class="featured" src="./assets/CR-geology-03.jpg">
         
         <img decoding="async" class="featured" src="./assets/CR-geology-06.jpg">

         <img decoding="async" class="featured" src="./assets/CR-geology-06.jpg">

         <img decoding="async" class="featured" src="./assets/CR-geology-15.png">
         
       </div>
       <article id="scroller">
         <div class="step" data-step="1"> 
          
          <p><strong>A billion years ago </strong>(billion with a B!), Seattle as we know it would have been in deep, deep ocean. That’s because the west edge of the North American continent was actually located near modern-day Spokane and Pullman.</p>
         </div>
         <div class="step" data-step="2">
          
          <p><strong>Over the last 200 million years, </strong>volcanic activity built most of the Pacific Northwest. The Pacific Plate, moving eastward inch by inch, was forced to go under the westward-moving North American Plate.</p>
         </div>
         <div class="step" data-step="3">
          
          <p><img width = 100%; src="./assets/CR-geology-04-simple.jpg"><br><strong>From 17 to 6 million years ago, </strong>lava oozed from long fissures in the earth’s crust, flooding the Columbia Basin. The basalt layers were so heavy they caused the land to sink.</p>
        </div>
         <div class="step" data-step="4">
          
          <p><img width = 100%; src="./assets/CR-geology-05.jpg"><br><strong>From 10 million to 1 million years ago, </strong>a powerful, wild Columbia — in some places a mile wide and 500 feet deep — transported snowmelt from the Columbia and Rocky mountains to the Pacific. Lava flows pushed the river from its path, but it always found a way around, carving channels and dropping waterfalls over basalt.</p>
        </div>
         <div class="step" data-step="5">
          
          <p><strong>As recent as 18,000 to 12,000 years ago </strong>(when mammoths were living here), Washington experienced a series of cataclysmic Ice Age floods. Glacial Lake Missoula — half the size of Lake Michigan — would periodically break through its ice dam and send a torrent across the basin. Within the span of a week, 80-mph floodwaters scoured the landscape, transforming everything in their path.</p>
        </div>
         <div class="step" data-step="6">
          
          <p><img width = 100%; src="./assets/CR-geology-07.jpg"><br><strong>The water would back up behind narrow basalt channels, </strong>like at Wallula Gap. Water rose as much as 1,250 feet above sea level, creating Lake Lewis. It filled the Pasco Basin and is estimated to have covered 4,500 square miles and reached a depth of 900 feet. The entire Tri-City area was underwater in what would have resembled a frothy chocolate milkshake, complete with floating icebergs.</p>
        </div>
         <div class="step" data-step="7">
          
          <p><strong>Lava floods, ice age floods </strong>and the ancestral Columbia carved the steep canyons and coulees we see in eastern Washington today. Within the past 95 years, humans used these natural formations to harness the Columbia’s mighty power to produce electricity and to irrigate agriculture.</p>
        </div>
        <div class="step" data-step="8">
          
          <p></p>
        </div>
       </article>

       
     </section>


     
   </main>


   <style>
    
    #scrolly {
         position: relative;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         flex-direction: column;
         
         padding: 0rem;
       }
  
       #scrolly > * {
         -webkit-box-flex: 0;
         -ms-flex: 0;
         flex: 0;
       }
  
       main {
         position: relative;
         padding: 0 0rem;
         margin-top:0px;
         max-width: 100%;
       }
  
       .sticky-thing {
         position: -webkit-sticky;
         position: sticky;
         height: 80vh;
         width: 100%;
         /* margin: 0 0 50% 40%; */
         z-index:-1;
         top: 5%;
         
         /* Center everything inside */
         display: flex;
         align-items: center;
         justify-content: center;
         -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  }
  
  @media (max-width:768px) {
    .sticky-thing {        
        width:100%;
        margin:0 0 50% 0;
    }
        }
  
       .sticky-thing p {
         padding: 1rem;
         font-size: 8rem;
         font-weight: 900;
         color: #fff;
  
       }
  
       .step {
         position: relative;
         margin-left:42%;
         background-color: white;
         color: black;
         width:54%;
       }
  
       @media (max-width:768px) {
    .step {        
        width:80%;
        margin:0 auto;
    }
        }
  
       .step:first-child {
         margin-top: 30rem;
       }
  
       .step.is-active {
         background-color: white;
         color: #000000;
       }
  
       .step p {
         text-align: left;
         padding: 1rem;
         font-size: 19px;
         margin-bottom:800px;
         
       }
  
       .step:last-child {
         margin-bottom: 0px;
         background-color: transparent;
       }
  
       span.highlight {
         background-color: #f2a9d4;
         padding: 1px 4px 1px 4px;
         box-decoration-break: clone;
         -webkit-box-decoration-break: clone;
         font-weight: bold;
       }
    
       .asset {
         position:absolute;
         top:0;
         left:0;
         width:100%;
         opacity:0;
         animation: fadeOut 0.5s ease-in;
         
       }

       .featured {
         position:absolute;
         top:0;
         left:0;
         width:100%;
         opacity:0;
         animation: fadeOut 0.5s ease-in;
         
       }
  
       .entered {
         opacity:1;
         animation: fadeIn 0.5s ease-in;
       }
       @keyframes fadeIn {
         from {
           opacity:0;
         }
         to {
           opacity:1;
         }
       }
  
       @keyframes fadeOut {
         from {
           opacity:1;
         }
         to {
           opacity:0;
         }
       }
  
       #intro {
         background-color:white;
         width:50%;
         margin:0 auto;
         text-align:center;
  
         }
  
         @media (max-width: 768px) {
          #intro {
          width:80%;
          }
        
       }
  
       #outro {
         background-color:white;
         height:50vh;
         
       }
     </style>
   

   <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
   <script src="https://projects.seattletimes.com/assets/graphic-scroll.js"></script>
   <script>
     
     var main = document.querySelector("main");
     var scrolly = main.querySelector("#scrolly");
     var sticky = scrolly.querySelector(".sticky-thing");
     var article = scrolly.querySelector("#scroller");
     var steps = article.querySelectorAll(".step");
     var photos = sticky.querySelectorAll("img");
     console.log(photos);
     

     // initialize the scrollama
     var scroller = scrollama();

     // scrollama event handlers
     function handleStepEnter(response) {
       // response = { element, direction, index }
       var el = response.element;
       //console.log(el);

       // remove is-active from all steps
       // then add is-active to this step
       steps.forEach(step => step.classList.remove('is-active'));
       el.classList.add('is-active');

       photos.forEach(photo => photo.classList.remove('entered'));
       photos[response.index].classList.add('entered');

       // update graphic based on step
       //sticky.style.backgroundImage = `url(" ${el.dataset.image} ")`;

     }

     function init() {
       scroller
         .setup({
           step: "#scrolly #scroller .step",
           offset: 0.83,
           debug: false
         })
         .onStepEnter(handleStepEnter);

       // setup resize event
       window.addEventListener("resize", scroller.resize);
     }

     // kick things off
     init();
   </script>
